/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #0b17ff 0%, #060ddd 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

canvas#starfield {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  background: rgba(0,0,30,0.6);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  text-align: center;
  position: relative;
  z-index: 1;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fff;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  text-decoration: none;
  background: #667eea;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(102,126,234,0.3);
}

.btn:hover {
  background: #5563d1;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(102,126,234,0.5);
}


.tetos-btn {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
  max-width: 420px;
  padding: 7px 21px;

  background: #ff2b2b;
  border-radius: 15px;
  border: px solid #000;

  text-decoration: none;
  color: #2b0000;
  font-weight: 700;
  font-size: 1.2rem;

  box-shadow: 0 8px 0 #000;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.tetos-btn:hover {
  transform: translateY(3px);
  box-shadow: 0 4px 0 #000;
}

.tet-img {
  width: 41.67px;
  height: auto;
  pointer-events: none;
}

.tet-text {
  flex: 1;
  text-align: center;
}
